/*
 Theme Name:   stevetheme
 Theme URI:    http://example.com/twenty-fourteen-child/
 Description:  Twenty Fourteen Child Theme
 Author:       Steve Barman
 Author URI:   http://stevebarman.com
 Template:     html5blank
 Version:      1.0.0
 Tags:         Barmany, Sleek, Slippery
 Text Domain:  stevebarman.com
*/


@import url("../html5blank-stable/style.css");

/* =Theme customization starts here
------------------------------------------------------- */

@import "normalize.scss";
@import "partials/settings";
@import "partials/nav.scss";
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.half{
  float:left;
  width:50%;
}
// variables 
html{
  background: $black;
}
input[type="submit"]{
  color:#000;
}
.wrapper{
  z-index: 5;
  background: $black;
  width:100%;
  padding:{
    left:100px;
    right:30px;
  }
  transform:translateX(0px);
  transition:all 0.3s ease-in-out;
  height:100vh;
  //box-shadow: -1px 0 0px 0 rgba(17, 17, 17, 0.35);
  margin:{
    left:0;
  }
}
body{
  color:#dadada;
  font-size:16px;
}
a{
  color:$blue;
  text-decoration: none;
  &:link{
    color:$blue;
  }
  &:hover,
  &:visited{
    text-decoration: underline;
  }
}
//re-use

.lato,
body{
	font-family: 'Lato', sans-serif;
}
.bangers{
	font-family: 'Bangers', cursive;
}
.black{
	color:#223;z-index: 3;
}

h1{
	@extend .bangers;
	color:$blue;
	font-size:40px;
}
.logo{
	display:none;
}
.splash{
  width:100%;
}


