#menu-toggle-wrapper{
	position: fixed;
	top: 0;
	left: 0;

	height: 100%;
	width: 70px;
	display: block;
	z-index: 10;
	background: #fff;
	margin:{
		left:0;
	}
	transition:all 0.3s ease-in-out;
	&.nav-hide{
	margin-left:-100%;
	transition:all 0.3s ease-in-out;
}
	&:hover #menu-toggle{
		&:before{
			top:-5px;
			transition:top 0.3s ease-in;
		}
		&:after{
			bottom:-5px;
			transition:bottom 0.3s ease-in;
		}
	}
	h1{
		position: absolute;
		bottom: -60px;
		left: 10px;
		transform: rotate(-90deg);
		transform-origin: 0% 0%;
		white-space: nowrap;
	}
}
#menu-toggle{
	position: fixed;
	top: 30px;
	left: 35px;
	font-size: 30px;
	display: block;
	margin-left: -15px;
	width: 30px;
	height: 30px;
	z-index: 50;
	background: $blue;
	&:before,
	&:after{
		position:absolute;
		height:3px;
		width:100%;
		background:$blue;
		content:"";
		transition:all 0.3s ease-in;
	}
	&:before{
		top:-10px;
		left:0;
	}
	&:after{
		bottom:-10px;
		left:0;
	}

}
.main-nav{
	position:absolute;
	z-index: 1;
	top:0;
	width:300px;
	height:100%;
		padding:{
		top:100px;
	}
}
.wrapper{
	z-index: 5;
	background: #b4bad2;
	width:100%;
	padding-left:100px;
	transition:all 0.3s ease-in-out;
	margin:{
		left:0;
	}
}
.menu-show{
	margin-left:275px;
	transition:all 0.3s ease-in-out;
}

