$nav-full-width:270px;
#menu-toggle-bar{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 70px;
	display: block;
	z-index: 10;
	background: #fff;
	margin:{
		left:0;
	}
	transition:all 0.3s ease-in-out;
	&.nav-hide{
	margin-left:-100%;
	transition:all 0.3s ease-in-out;
}
	h1{
		position: absolute;
		bottom: -60px;
		left: 10px;
		transform: rotate(-90deg);
		transform-origin: 0% 0%;
		white-space: nowrap;
	}
}
.hamburger{
	position: fixed;
	top: 0px;
	left: 0px;
	font-size: 30px;
	display: block;
	width: 70px;
	height: 70px;
	z-index: 50;
	padding:30px 20px;
	.meat{
		background: $blue;
		position:relative;
		height:3px;
		width:100%;
		&:before,
		&:after{
			position:absolute;
			height:3px;
			width:100%;
			background:$blue;
			content:"";
			transition:all 0.3s ease-in;
		}
		&:before{
			top:-10px;
			left:0;
		}
		&:after{
			bottom:-10px;
			left:0;
		}
	}
	

}
.main-nav{
	position:absolute;
	z-index: 1;
	top:0;
	width:$nav-full-width;
	height:100%;
		padding:{
		top:10px;
	}
}
.wrapper{
	z-index: 5;
	background: $black;
	width:100%;
	padding-left:100px;
	transform:translateX(0px);
	transition:all 0.3s ease-in-out;

box-shadow: -1px 0 0px 0 rgba(17, 17, 17, 0.35);
	margin:{
		left:0;
	}
}
.menu-show{
	.wrapper{
		transform:translateX($nav-full-width);
		transition:all 0.3s ease-in-out;
	}
	#menu-toggle-bar{
		transform:translateX(-100%);
		transition:all 0.1s ease-in-out;
	}
}
.nav-icon{
	border-radius: 50%;
overflow: hidden;
padding: 0;
box-shadow: 2px 2px 0px 3px $blue,
3px 3px 0px 3px $black;
margin: 50px;
}
