#menu-toggle-wrapper{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 70px;
	display: block;
	z-index: 10;
	background: #fff;
	&:hover #menu-toggle{
		&:before{
			top:-5px;
			transition:top 0.3s ease-in;
		}
		&:after{
			bottom:-5px;
			transition:bottom 0.3s ease-in;
		}
	}
	h1{
		position: absolute;
		bottom: 60px;
		right: -35px;
		transform: rotate(-90deg);
		white-space: nowrap;
	}
}
#menu-toggle{
	position: absolute;
	top: 30px;
	left: 35px;
	font-size: 30px;
	display: block;
	margin-left: -15px;
	width: 30px;
	height: 3px;
	background: $blue;
	&:before,
	&:after{
		position:absolute;
		height:3px;
		width:100%;
		background:$blue;
		content:"";
		transition:all 0.3s ease-in;
	}
	&:before{
		top:-10px;
		left:0;
	}
	&:after{
		bottom:-10px;
		left:0;
	}

}
.main-nav{
	position:absolute;
	z-index: 1;
	top:0;
	width:300px;
	height:100%;
}
.wrapper{
	z-index: 5;
	background: #b4bad2;
	width:100%;
	padding-left:100px;
}