/*
 Theme Name:   stevetheme
 Theme URI:    http://example.com/twenty-fourteen-child/
 Description:  Twenty Fourteen Child Theme
 Author:       Steve Barman
 Author URI:   http://stevebarman.com
 Template:     html5blank-stable
 Version:      1.0.0
 Tags:         Barmany, Sleek, Slippery
 Text Domain:  stevebarman.com
*/


//@import url("../html5blank-stable/style.css");
$blue : #1F8DDC;
$black : #000;
$blood: red;
.black{
	color:#223;z-index: 3;
}
 @import "partials/nav.scss";
h1{

}
