/*
 Theme Name:   stevetheme
 Theme URI:    http://example.com/twenty-fourteen-child/
 Description:  Twenty Fourteen Child Theme
 Author:       Steve Barman
 Author URI:   http://stevebarman.com
 Template:     html5blank
 Version:      1.0.0
 Tags:         Barmany, Sleek, Slippery
 Text Domain:  stevebarman.com
*/


@import url("../html5blank-stable/style.css");
@import "scss/foundation.scss";
/* =Theme customization starts here
------------------------------------------------------- */
body{
  color:#6f6f6f;
}
.lato,
body{
	font-family: 'Lato', sans-serif;
}
.bangers{
	font-family: 'Bangers', cursive;
}

$blue : #1F8DDC;
$black : #232323;
$gray: #B1B1B1;
$red: red;
.black{
	color:#223;z-index: 3;
}
 @import "partials/nav.scss";
h1{
	@extend .bangers;
	color:$blue;
	font-size:40px;
}
.logo{
	display:none;
}