@import url("../html5blank-stable/style.css");
/*
 Theme Name:   stevetheme
 Theme URI:    http://example.com/twenty-fourteen-child/
 Description:  Twenty Fourteen Child Theme
 Author:       Steve Barman
 Author URI:   http://stevebarman.com
 Template:     html5blank-stable
 Version:      1.0.0
 Tags:         Barmany, Sleek, Slippery
 Text Domain:  stevebarman.com
*/
/* =Theme customization starts here
-------------------------------------------------------------- */