#menu-toggle-bar{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 70px;
	display: block;
	z-index: 10;
	background: #fff;
	margin:{
		left:0;
	}
	transition:all 0.3s ease-in-out;
	&.nav-hide{
	margin-left:-100%;
	transition:all 0.3s ease-in-out;
}
	h1{
		position: absolute;
		bottom: -60px;
		left: 10px;
		transform: rotate(-90deg);
		transform-origin: 0% 0%;
		white-space: nowrap;
	}
}
.hamburger{
	position: fixed;
	top: 0px;
	left: 0px;
	font-size: 30px;
	display: block;
	width: 70px;
	height: 70px;
	z-index: 50;
	padding:30px 20px;
	.meat{
		background: $blue;
		position:relative;
		height:3px;
		width:100%;
		&:before,
		&:after{
			position:absolute;
			height:3px;
			width:100%;
			background:$blue;
			content:"";
			transition:all 0.3s ease-in;
		}
		&:before{
			top:-10px;
			left:0;
		}
		&:after{
			bottom:-10px;
			left:0;
		}
	}

}
.main-nav{
	position:absolute;
	z-index: 1;
	top:0;
	width:$nav-full-width;
	height:100%;
	background-color:#fff;
	padding:{
		top:10px;
	}
}
.menu-show{
	.wrapper{
		transform:translateX($nav-full-width);
		transition:all 0.3s ease-in-out;
	}
	#menu-toggle-bar{
		transform:translateX(-100%);
		transition:all 0.1s ease-in-out;
	}
}
.nav-icon{
	//face in drawer
	border-radius: 50%;
	overflow: hidden;
	padding: 0;
	box-shadow: 2px 2px 0px 3px $blue,
	3px 3px 0px 3px $black;
	margin: 50px;
}
.main-nav {
	ul{
		padding:0;
		margin:0;
	}
	.menu-item{
		border-bottom: 1px solid #F0F0F0;
		text-transform: uppercase;
		list-style: none;
		a{
			padding: 12px 35px;
			text-transform: none;
			font-size: 13px;
			position:relative;
			color:$black;
			display:block;
			border-right:0px solid $blue;
			transition:border 0.3s ease-in-out;
		}
		&.current-menu-item a{
			border:{
				right:10px solid $blue;
			}
			cursor:not-allowed;
		}
		&:hover a{
			border:{
				right:10px solid $black;
			}

			transition:border 0.3s ease-in-out;
		}
	}
}